@import "custom";


/* Navbar styles */

.navbar-section a{
    color:inherit  !important;
&:hover{
    color:$navbar-hover !important;
}
}

/* Main Section */

.main-section{
    height:100vh;
}

.girl{
    height:70vh;
}